<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Sign Up</h3>
        </div>
    </div>
</div>
<div *ngIf="loggedIn" class="row">
    <div class="col-12">
        <div class="alert alert-success" role="alert">
            You have successfully Registered
        </div>
    </div>
</div>
<div class="container" style="padding-top:20px;">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" [(ngModel)]="userEmail" name="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                        [(ngModel)]="userPassword" name="password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full Name"
                        [(ngModel)]="userName" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Blood Type</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Eg: AB+"
                        [(ngModel)]="userBloodType" name="bloodType">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mobile Number</label>
                    <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number"
                        [(ngModel)]="userMobileNumber" name="mobNumber">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Age</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="min 16+"
                        [(ngModel)]="userAge" name="age">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Weight</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="in kgs"
                        [(ngModel)]="userWeight" name="weight">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Address</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="1234 Main St"
                        [(ngModel)]="userAddress" name="address" rows="3">
                </div>

                <button (click)="submit()" class="btn btn-danger btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>